*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header{
    width: 100%;
    height: 100px;
    background: #8360c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2ebf91cc, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2ebf917e, #8360c380); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: space-between;
    position: fixed;
}

.logo-container{
    width: 10%;
}

.logo-container img{
    width: 80px;
    margin: 10px;
}

.navegation-menu{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navegation-menu a{
    width: auto;
    font-size: 18px;
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
}

.mid-container{
    width: 100%;
    height: 100vh;
    display: flex;
   background-color: #fff;
    justify-content: space-around;
}

.left-mid-box {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.greeting-box{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-bottom: 30px;
}
h2{
    font-size: 200px;
}
h3{
    font-size: 40px;
}

h4{
    font-style: italic;
}
.bot-mid-box{
    width: 90%;
    height: auto;
    display: flex;
}

.bot-mid-box h5{
    width: 30%;
    margin-right: 20px;
}

.right-mid-box{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-mid-box img{
    width: 80%;
}

/*  WORKS SECTION*/

#works{
    width: 100%;
    height: auto;
    background-color: #74ccb2;
    padding-top: 40px;
}

.description-work1{
    width: 400px;
}

#works h2{
    margin: 50px 0px 40px ;
    text-align: center;
    font-size: 45px;
}

.description-work h3{
    margin: 0px 0px 20px 0px;
}

.work-boxes-container{
    width: 90%;
    display: flex;
    margin:auto;
    margin-top: 100px;
}

.img-work{
    width: auto;
}
/* .img-work img{
    width: 500px;
    height: 500px;
} */

.img-work img{
    width: auto;
    height: auto;
}

.description-work{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0px 50px 0px 50px;
}

.description-work h3{
    margin:0px 
}

.work2{
    justify-content: flex-end;
}

.description-work4{
    width: 400px;
}

.description-work4{
    text-align: end;
}

.description-work4 p{
    text-align: end;
} 

/* PROGRESS */

/* HOVERS */
.navegation-menu a:hover{
    color: rgb(45, 82, 45);
    font-size: 22px;
    transition-delay: .1s;
    transform: scale(1.1);
}


.img-work a:hover img {
    transform:scale(1.3);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.img-work {
    overflow:hidden;
}